body {
    font-family: 'Livvic', sans-serif;
    margin: 0;
    display: flex;
        overflow: hidden;

}

main {
    flex: 1;
    padding: 30px;
    background: #ffffff;

}

h1 {
    color: #365885;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 16px;
    text-align: left;
}

th {
    background: #365885;
    color: white;
}

tr:nth-child(even) {
    background: #f3f6fb;
}

a.whatsapp-btn {
    display: inline-block;
    background: #25D366;
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: 500;
}

a.whatsapp-btn:hover {
    background: #1ebe5b;
}